version: '3'

services:

  broker-service:
    build:
      context: ./../broker-service
      dockerfile: ./../broker-service/broker-service.dockerfile
    restart: always
    ports:
      - "8081:8080" #hitting on RMQ service port 8081 from front-end 8080
    deploy:
      mode: replicated
      replicas: 1
  